@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Barlow", sans-serif;
  background: #000;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --white: white;
  --black: #000;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/BarlowSemiCondensed-ExtraBoldItalic.woff") format("woff"), url("../fonts/BarlowSemiCondensed-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/BarlowSemiCondensed-Medium.woff") format("woff"), url("../fonts/BarlowSemiCondensed-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/BarlowSemiCondensed-MediumItalic.woff") format("woff"), url("../fonts/BarlowSemiCondensed-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/BarlowSemiCondensed-Regular.woff") format("woff"), url("../fonts/BarlowSemiCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/BarlowSemiCondensed-SemiBold.woff") format("woff"), url("../fonts/BarlowSemiCondensed-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/BarlowSemiCondensed-SemiBoldItalic.woff") format("woff"), url("../fonts/BarlowSemiCondensed-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 225px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content-button {
  padding: 15px 30px;
  display: inline-block;
  margin-right: -16px;
}

.header__logo {
  padding-top: 6px;
  padding-left: 4px;
  margin-right: 25px;
}

.btn {
  border: 1px solid var(--white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0.5;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

.btn:hover {
  opacity: 1;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__item {
  color: var(--white);
  opacity: 0.6;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.navigation__item:not(:last-child) {
  margin-right: 45px;
}

.navigation__item:hover {
  opacity: 1;
}

.hero {
  padding-top: 60px;
  padding-bottom: 67px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__title {
  padding-left: 15px;
  font-style: italic;
  font-weight: 800;
  font-size: 120px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 86px;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(170.62%, rgba(255, 255, 255, 0.25)));
  background-image: -o-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0.25) 170.62%);
  background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.25) 170.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__image {
  background-image: url(../img/bike.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 841px;
}

.better-teach {
  padding-top: 60px;
  padding-bottom: 119px;
}

.better-teach__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.better-teach__content-left {
  background: url(../img/rolu.png) no-repeat;
  background-position-x: 43px;
  height: 490px;
  width: 392px;
  background-size: cover;
  margin-right: 127px;
}

.content-left__title {
  font-weight: 600;
  font-size: 31px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 30px;
}

.decr {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: var(--white);
  opacity: 0.8;
}

.content-right {
  padding-top: 35px;
  max-width: 558px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-left__descr1,
.content-left__descr2 {
  margin-bottom: 20px;
}

.content-left__descr3 {
  margin-bottom: 40px;
}

.content-left__button {
  width: 130px;
  padding: 15px 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.life {
  padding-top: 119px;
  padding-bottom: 125px;
}

.life-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.life-top__title {
  font-weight: 600;
  font-size: 31px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 25px;
  padding-left: 15px;
}

.life-top__description {
  max-width: 645px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--white);
  opacity: 0.8;
  padding-left: 14px;
}

.life-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.life-bottom__item {
  padding: 35px 0px;
  width: 264px;
}

.life-bottom__item {
  margin-right: 30px;
  margin-bottom: 50px;
}

.life-bottom__item:nth-child(4n+4) {
  margin-right: 0px;
}

.life-bottom__item:hover {
  z-index: 1;
  background: #212122;
}

.life-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.life-card__card {
  z-index: 1;
  width: 60px;
  height: 60px;
  background: #ffffff;
  opacity: 0.1;
  -webkit-backdrop-filter: blur(441px);
          backdrop-filter: blur(441px);
  padding: 13px;
  margin-bottom: 25px;
}

.life-card__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--white);
  z-index: 10;
}

.life-card__description {
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--white);
  opacity: 0.8;
}

.card-icon {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 13px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.first_card {
  background: url(../img/first.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.second_card {
  background: url(../img/two.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.third_card {
  background: url(../img/three.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.four_card {
  background: url(../img/four.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.five_card {
  background: url(../img/five.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.six_card {
  background: url(../img/six.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.seven_card {
  background: url(../img/seven.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.eight_card {
  background: url(../img/eight.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}